@import "base";
body
    height: 100vh
    
    background: linear-gradient(to right top, #001233,#198b8b)
nav
  nav
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 5px
  button
    height: 30px
    width: 30px
    border-radius: 5px
    